<a href="https://colab.research.google.com/github/PrinceWallyy/CV_DeepLearning/blob/master/01_Plotting_and_Basic_Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount("/content/drive")
path = '/content/drive/MyDrive/MU/Computer Vision/Assignment 2 - CNN/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
#load libaries
import pandas as pd
import numpy as np
import tensorflow as tf

In [7]:
#load data
df = pd.read_csv(path+'fer2013.csv', delimiter=',', nrows = 1000)

In [ ]:
#emotion map

In [8]:
df

     emotion                                             pixels     Usage
0          0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1          0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2          2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3          4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4          6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training
..       ...                                                ...       ...
995        3  234 168 152 74 33 36 33 33 27 25 33 54 70 80 8...  Training
996        6  130 131 132 132 133 134 134 134 136 138 136 14...  Training
997        3  30 25 19 5 5 4 3 1 1 0 2 26 31 15 10 4 3 3 5 6...  Training
998        0  177 203 157 122 156 178 194 202 199 191 193 17...  Training
999        6  22 24 23 25 23 21 21 23 21 23 22 26 99 115 121...  Training

[1000 rows x 3 columns]